  .jobtracker-container {
    margin-top: 200px;
    min-height: 100vh;
    width: 100%;
  }

  .jobtracker-tile-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 52px 32px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .jobtracker-tile {
      width: 220px;
  }

  .add-job-container {
    width: 50%;
    padding: 32px;
  }

  .add-job-container h2{
    color: black;
    font-weight: 700;
  }

  .add-job-container .job-header {
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  .add-job-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .add-job-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .form-group label {
    margin: 0 16px;              
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .add-job-form input,
  .add-job-form select,
  .add-job-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
  }
  .add-job-form label {
    font-weight: 600;
    color: black;
  }

  .add-job-form textarea {
    min-height: 80px;
  }

   .add-job-form .button-group {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
   }

  .add-job-form button {
    padding: 12px;
    width: 120px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-weight: 600;
  }

  .add-job-form button:hover {
    background: #1d4ed8;
  }