.dashboard-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px 40px;
}

.header-container  {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px 0 40px;
  gap: 8px;
}

.profile-icon {
  cursor: pointer;
  color: #1e3a8a;
  height: 36px;
  width: 36px;
}

.tile-wrapper {
  display: flex;
  gap: 32px;
  padding: 60px 40px;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.profile-title {
    color: black;
}

.profile-btn {
  background-color: white;
  color :black;
  font-weight: 600;
}


